.title {
    background-color: red;
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif, Arial, Helvetica;
}

.bullet_point,
.recipe_name {
    background-color: lightblue;
    color: black;
    font-size: 40px;
    font-weight: 300;
    font-family: sans-serif, Arial, Helvetica;
}
